# Copy this this file to deploy.rb

# For each site specify servers for each role

case INSTALL_SITE
when 'local'
  role :app, "localserver"
  set :user, "username"
when 'demo'
  role :app, "your-app-server.com"
  set :user, "username"
end

default_run_options[:pty] = true

